.btn-toggle {
  position: relative;
  display: block;
  width: 30px;
  min-width: initial;
  height: 20px;
  padding: 0;
  margin-top: -5px;
  margin-left: 24px;
  background: transparent url("data:image/svg+xml,%3Csvg width='29' height='18' viewBox='0 0 29 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='29' height='2' rx='1' fill='%237B70AB'/%3E%3Crect y='16' width='29' height='2' rx='1' fill='%237B70AB'/%3E%3Crect x='12' y='8' width='17' height='2' rx='1' fill='%237B70AB'/%3E%3C/svg%3E%0A") no-repeat center / contain;
  border: none;
  border-radius: 0;

  @include _media-nav {
    display: none;
  }

  &:focus {
    outline: none;
  }
}

.btn-toggle--close {
  margin-top: 0;
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 13L13 1M13 13L1 1' stroke='%23941655' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
