.btn {
  display: inline-block;
  vertical-align: middle;
  min-width: 160px;
  max-width: 100%;
  padding: 1.32em 1.6em;
  border: none;
  //border-radius: 27px;
  border-radius: 1em;
  font-size: clampvw(18, 24);
  font-family: $font-btn;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.3px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;

  @include _lg {
    //font-size: 24px;
  }

  &:disabled {
    opacity: 0.8;
    cursor: auto;
  }

  &:focus {
    outline: none;
  }
}

.btn--bright {
  position: relative;
  border: 1px solid rgba(255, 89, 136, 0.44);
  background: linear-gradient(298.1deg, #ea3a61 11.2%, rgba(255, 99, 146, 0.01) 120.64%);
  background-clip: padding-box;
  color: $color-inverse;
  text-decoration: none;

  &:hover,
  &:focus {
    outline: none;
    opacity: 0.9;
  }

  &:active {
    opacity: 0.8;
  }
}

.btn--accent {
  position: relative;
  border: 1px solid rgba(26, 114, 255, 0.54);
  background: linear-gradient(93.95deg, #1a72ff 0.49%, rgba(57, 137, 231, 0.1) 103.88%);
  background-clip: padding-box;
  color: $color-inverse;
  text-decoration: none;

  &:hover,
  &:focus {
    outline: none;
    opacity: 0.9;
  }

  &:active {
    opacity: 0.8;
  }
}

.btn--light {
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: linear-gradient(93.21deg, rgba(27, 113, 250, 0.07) 2.42%, rgba(243, 64, 88, 0.07) 105.27%);
  background-clip: border-box;
  color: $color-inverse;
  text-decoration: none;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    //background: darken($gray, 5%);
    opacity: 0.9;
  }
}

.btn--inverse {
  position: relative;
  border: 1px solid $transparent;
  background: $color-inverse;
  color: $bright;
  text-decoration: none;

  &:hover {
    background: $gray-light;
  }

  &:active {
    background: darken($gray-light, 5%);
  }
}

.btn--danger {
  position: relative;
  background: $danger;
  border: 1px solid $danger;
  color: $color-inverse;
  text-decoration: none;

  &:hover,
  &:focus {
    background: lighten($danger, 5%);
    border-color: lighten($danger, 5%);
    outline: none;
  }

  &:active {
    background: $bright;
    color: $color-inverse;
  }
}

.btn--danger-inverse {
  position: relative;
  background: $color-inverse;
  border: 1px solid $danger;
  color: $danger;
  text-decoration: none;

  &:hover,
  &:focus {
    border-color: lighten($danger, 5%);
    outline: none;
  }

  &:active {
    border-color: lighten($danger, 8%);
  }
}

.btn--gray {
  position: relative;
  border: 1px solid $gray;
  background: $color-inverse;
  color: $color;
  text-decoration: none;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    background: darken($gray, 5%);
  }

  &:disabled {
    opacity: 1;
    background: $color-inverse;
    color: $gray;
  }
}

.btn--transparent {
  background: transparent;
  color: $gray-dark;
  border-color: transparent;
}

.btn--as-link {
  display: inline;
  min-width: unset;
  padding: unset;
  border: none;
  letter-spacing: normal;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  background: transparent;
  color: $bright;
  text-decoration: underline;
  text-align: left;

  @include _lg {
    font-size: inherit;
  }
}

.btn--only-icon {
  padding: 0;
  background-color: transparent;
  border-color: transparent;
  min-width: unset;

  &:focus {
    outline: none;
    opacity: 0.8;
  }
}

.btn--close {
  //
}
