.lang {
  --radius: 9px;
  position: relative;
  margin-left: auto;
  margin-right: 8px;
  font-size: 16px;
  font-weight: 400;
  color: $color-inverse;
}

.lang__selected {
  padding: 8px;
  border: none;
  border-radius: var(--radius);
  font-size: inherit;
  line-height: inherit;
  background: $dark;
  color: inherit;

  @include _lg {
    padding: 17px;
  }

  &::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 6px;
    margin-left: 6px;
    background: url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L4.29289 4.29289C4.68342 4.68342 5.31658 4.68342 5.70711 4.29289L9 1' stroke='white' stroke-linecap='round'/%3E%3C/svg%3E%0A") no-repeat center / contain;
  }
}

.lang__list {
  display: none;

  &.opened {
    position: absolute;
    top: calc(100% + 8px);
    display: block;
    width: 100%;
    padding-left: 0;
    margin: 0;
    border-radius: var(--radius);
    background: $dark;
  }
}

.lang__item {
  &:not(:last-child) {
    &::after {
      content: "";
      display: block;
      width: 37px;
      height: 1px;
      margin-left: auto;
      margin-right: auto;
      background: #4c4467;
    }
  }
}

.lang__choice {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 14px;
  padding-bottom: 14px;
  color: inherit;
}
