@mixin _media-nav {
  @media (min-width: 1430px) {
    @content;
  }
}

.nav {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;

  @include _media-nav {
    display: flex;
    align-items: center;
  }
}

.header__nav.nav {
  @include _media-nav {
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
  }
}

.nav__item {
  position: relative;
  width: 100%;
  margin-bottom: 36px;
  text-align: center;
}

.nav__login {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  font-size: 16px;
  border-radius: 50%;
  background: $dark;

  @include _media-nav {
    padding: 29px 80px;
    margin-top: 0;
    margin-left: unset;
    margin-right: unset;
    border-radius: 9px;
    background: $dark;
    color: $color-inverse;
  }

  &::before {
    flex-shrink: 0;
    content: "";
    display: block;
    width: 15px;
    height: 20px;
    background: url("data:image/svg+xml,%3Csvg width='12' height='17' viewBox='0 0 12 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.88 13.4028C11.88 16.0121 8.49 16.3137 5.94075 16.3137L5.75832 16.3136C4.13415 16.3094 0 16.2012 0 13.387C0 10.8309 3.25376 10.4893 5.78361 10.4764L6.12317 10.4762C7.74723 10.4803 11.88 10.5886 11.88 13.4028ZM5.94075 11.6635C2.745 11.6635 1.125 12.243 1.125 13.387C1.125 14.5412 2.745 15.1262 5.94075 15.1262C9.13575 15.1262 10.755 14.5467 10.755 13.4028C10.755 12.2485 9.13575 11.6635 5.94075 11.6635ZM5.94075 0.583008C8.13675 0.583008 9.9225 2.46876 9.9225 4.78676C9.9225 7.10476 8.13675 8.98972 5.94075 8.98972H5.91675C3.72525 8.98259 1.95 7.09605 1.95748 4.78438C1.95748 2.46876 3.744 0.583008 5.94075 0.583008ZM5.94075 1.71351C4.335 1.71351 3.02848 3.0918 3.02848 4.78676C3.02325 6.47618 4.32 7.85368 5.919 7.86001L5.94075 8.42526V7.86001C7.54575 7.86001 8.8515 6.48093 8.8515 4.78676C8.8515 3.0918 7.54575 1.71351 5.94075 1.71351Z' fill='%237B70AB'/%3E%3C/svg%3E%0A") no-repeat center;

    @include _media-nav {
      margin-right: 10px;
    }
  }

  span {
    display: none;

    @include _media-nav {
      display: initial;
    }
  }
}
