<header class="header">
  <nav class="header__nav nav">
    <a class="logo logo--landing" href="/">
      <img class="logo__img" src="img/logo.svg" alt="логотип" width="239" height="43">
    </a>

    <section class="lang">
      <h2 class="visually-hidden">Выбор языка</h2>
      <button class="lang__selected">@@lang</button>
      <ul class="lang__list">
        <li class="lang__item">
          <a class="lang__choice lang__choice--en" href="index-en.html"><span>En</span></a>
        </li>
        <li class="lang__item">
          <a class="lang__choice lang__choice--ru" href="index.html"><span>Ru</span></a>
        </li>
        <li class="lang__item">
          <a class="lang__choice lang__choice--ru" href="index-es.html"><span>Es</span></a>
        </li>
      </ul>
    </section>


    <a href="" class="nav__login"><span>Войти</span></a>

  </nav>
</header>
