<div class="modal-block modal-block--ask-question hide" id="ask-question">
  <div class="modal">
    <button class="modal__btn btn btn--close">╳</button>
    <section class="modal__content ask-question">

      <form class="ask-question__form form">
        <h2 class="ask-question__title">Контактные данные</h2>
        <div class="ask-question__links">
          <a class="ask-question__link ask-question__link--tg" href="https://t.me/tonysj" target="_blank">@tonysj</a>
          <a class="ask-question__link ask-question__link--email" href="mailto:tony@socialjet.pro">tony@socialjet.pro</a>
        </div>

        <h2 class="ask-question__title">Форма обратной связи</h2>
        <div class="form__input-wrap">
          <label for="email" class="visually-hidden">Ваша почта</label>
          <input id="email" class="form__input" type="email" placeholder="Почта">
        </div>
        <div class="form__input-wrap form__input-wrap--textarea">
          <label for="message" class="visually-hidden">Сообщение</label>
          <textarea id="message" class="form__textarea" placeholder="Сообщение"></textarea>
        </div>
        <button class="ask-question__btn btn btn--bright" type="submit">Отправить</button>
        <p class="form__conditions">
          Нажимая на кнопку, вы даете согласие на&nbsp;обработку <a href="#">персональных данных</a> и&nbsp;соглашаетесь c&nbsp;<a
          href="#">политикой конфиденциальности</a>
        </p>
        <p class="form__success hide">Успешно отправлено</p>
      </form>
    </section>
  </div>
</div>
