<picture>
  <source type="image/webp" media="(min-width: 768px)" srcset="img@@folder/stream.webp 1x, img@@folder/@@img@2x.webp 2x" width="@@width-d" height="@@height-d">
  <source type="image/webp" srcset="img@@folder/@@img-m.webp 1x, img/stream/@@img-m@2x.webp 2x" width="@@width-m" height="@@height-m">
  <source media="(min-width: 768px)" srcset="img@@folder/@@img.@@format 1x, img@@folder/@@img@2x.@@format 2x"           width="@@width-d" height="@@height-d">
  <img class="stream__img" src="img@@folder/@@img-m.@@format" srcset="img@@folder/@@img-m@2x.@@format 2x"
       width="@@width-m" height="@@height-m" alt="@@alt">
</picture>
